section#about {

    --video-height: 200px;

}

section#about > .title {
    font-size: 33px;
    font-weight: bold;
}

section#about .about-video {
    position: absolute;
    width: calc(100vw - (var(--root-padding) * 2));
    /*width: 70vw;*/
    height: var(--video-height);
    /*left: -10vw;*/
    border-radius: 15px;
    background-color: #d8d8d8;
    object-fit: cover;
    transform: translateX(-35vw);
    transition: all .5s;
}

section#about .about-video.focus {
    /*width: calc(100vw - (var(--root-padding) * 2));*/
    /*left: var(--root-padding);*/
    transform: none;
}

section#about .description {
    margin-top: calc(var(--video-height) + (var(--root-padding) * 3));
}
