#contact-form {

}

#contact-form > .title {
    font-size: 33px;
    font-weight: bold;
    line-height: 1.18;
}

body#contacts-page #contact-form > .title {
    color: var(--secondary-text-color);
}

#contact-form form {
    display: flex;
    flex-direction: column;;
}

#contact-form input {
    -webkit-appearance: none;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

#contact-form button {
    -webkit-appearance: none;
    background: white;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #34517f;
}

#contact-form button:disabled {
    position: relative;
    cursor: progress;
    opacity: .5;
    color: transparent;
}

#contact-form button:disabled:before {
    content: 'Загрузка...';
    display: block;
    color: #34517f;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
}

#contact-form .form-result-message {
    color: var(--primary-text-color);
    font-size: 20px;
    line-height: 1.25;
    border-radius: 15px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    padding: var(--root-vertical-padding) var(--root-padding);
}

#contact-form .form-result-buttons > * {
    width: 100%;
}

#contact-form .invert-button {
    background-color: transparent;
    border: 1px solid #34517f;
    color: #34517f;
}
