section#contacts {

}

section#contacts .title {
    font-size: 33px;
    font-weight: bold;
}

section#contacts .contacts-slider {
    margin-left: calc(var(--root-padding) * -1);
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    padding: 0 var(--root-padding);
    padding-top: 15px;
    padding-bottom: 30px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

section#contacts .city-card,
section#contacts .country-card,
section#contacts .index-card {
    /*min-width: 100%;*/
    border-radius: 15px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    /*margin-right: var(--root-padding);*/
    /*padding: var(--root-padding);*/
    /*scroll-snap-align: center;*/
    height: 100%;
    background: white;
}

section#contacts .index-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#contacts .contacts-slider > *:last-child {
    margin-right: unset;
}

section#contacts .contacts-slider:after {
    content: '';
    display: block;
    min-height: 100%;
    /*min-width: var(--root-padding);*/
    min-width: 1px;
}

section#contacts .city-card .title,
section#contacts .index-card .title {
    font-size: 30px;
    font-weight: 500;
    margin: unset;
}

section#contacts .city-card > div,
section#contacts .index-card > div,
section#contacts .contacts-slider .contacts-details > div {
    display: flex;
    flex-direction: column;
    margin: var(--root-vertical-padding) 0;
}

section#contacts .contacts-slider .contacts-details > div {
    margin: 20px 0;
}

section#contacts .contacts-slider .contacts-details > div:first-child {
    margin-top: unset;
}

section#contacts .city-card > div:last-child,
section#contacts .index-card > div:last-child {
    margin-bottom: unset;
}

section#contacts .contacts-slider .label {
    font-size: 25px;
    font-weight: 500;
    margin: unset;
}

section#contacts .contacts-slider .caption {
    font-size: 25px;
    font-weight: 300;
    margin: unset;
}

section#contacts .contacts-slider .show-map-button,
section#contacts .contacts-slider .show-feedback-button,
section#contacts .contacts-slider .show-city-button {
    -webkit-appearance: none;
    display: inline-block;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #34517f;
    border: 1px solid #34517f;
    border-radius: 25px;
    background: unset;
    min-width: 200px;
    /*width: 100%;*/
}

section#contacts .index-card .show-city-button {
    background: #34517f;
    color: white;
}

section#contacts .country-card {
    padding: 25px 30px 40px 30px;
}

section#contacts .country-card > .title {
    margin: unset;
    margin-bottom: 20px;
}

section#contacts .country-card .country-content {
    display: flex;
    max-height: calc(100% - 50px);
}

section#contacts .country-card .country-content .cities-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    /*max-height: 100%;*/
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

section#contacts .country-card .country-content .cities-section a {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-right: 30px;
    /*display: inline-block;*/
    max-width: 50%;
}

section#contacts .country-card .country-content .cities-section a:hover,
section#contacts .country-card .country-content .cities-section a:active {
    text-decoration: underline;
}

section#contacts .country-card .country-content .cities-section a.primary-city {
    font-weight: 500;
}

section#contacts .country-card .country-content .contacts-details {
    width: 40%;
    border-left: 1px solid #34517f;
    padding-left: 40px;
    overflow-y: scroll;
}

section#contacts .dropdown-menu {
    -webkit-appearance: none;
    padding: 0 25px;
    display: inline-block;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 2px 15px 0 #606060;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: #808080;
    margin: 20px 0;
}

section#contacts .social-icons {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
}

section#contacts .social-icons > * {
    margin-right: 20px;
}

section#contacts .social-icons > *:last-child {
    margin-right: unset;
}

body#contacts-page section#contacts > .background-decoration:before {
    content: '';
    position: absolute;
    top: 100px;
    left: unset;
    right: -25vmin;
    width: 200vmin;
    height: 200vmin;
    border-radius: 15px;
    transform: rotate(-15deg);
    transform-origin: right top;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: #34517f;
}

@media (min-width: 350px) {
    body#contacts-page section#contacts > .background-decoration:before {
        height: 180vmin;
    }
}

@media (min-width: 380px) {
    body#contacts-page section#contacts > .background-decoration:before {
        height: 150vmin;
    }
}

@media (min-width: 450px) {
    body#contacts-page section#contacts > .background-decoration:before {
        height: 130vmin;
    }
}

@media (min-width: 500px) {
    body#contacts-page section#contacts > .background-decoration:before {
        height: 110vmin;
    }
}

.vk-icon, .fb-icon, .yt-icon, .ok-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../img/vk.svg") no-repeat center/contain;
}

.fb-icon {
    background-image: url("../img/fb.svg");
}

.yt-icon {
    background-image: url("../img/yt.svg");
}

.ok-icon {
    background-image: url("../img/ok.svg");
}
