@import "layout.desktop.css";
@import "intro.desktop.css";
@import "about.desktop.css";
@import "command.desktop.css";
@import "contacts.desktop.css";
@import "landing.desktop.css";
@import "background.animation.css";
@import "slider.desktop.css";
