@font-face {
    font-family: Gilroy;
    font-weight: normal;
    src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: Gilroy;
    font-weight: bold;
    src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy;
    font-weight: 300;
    src: url("../fonts/Gilroy-Light.ttf");
}

@font-face {
    font-family: Gilroy;
    font-weight: 900;
    src: url("../fonts/Gilroy-Heavy.ttf");
}

@font-face {
    font-family: MullerRegular;
    src: url("../fonts/Fontfabric - MullerRegular.otf");
}

@font-face {
    font-family: MullerLight;
    src: url("../fonts/Fontfabric - MullerLight.otf");
}
