body.landing {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

body.red-landing header {

}

body.red-landing .feedback-button {
    color: #661f1f !important;
    border: 1px solid #661f1f;
}

body.red-landing .feedback-button:hover {
    background: #661f1f;
    color: var(--secondary-text-color) !important;
}

body.red-landing .feedback-menu {
    background-color: #661f1f;
}

body.red-landing .feedback-menu button {
    background-color: #661f1f;
}

body.blue-landing .feedback-button {
    color: #34517f !important;
    border: 1px solid #34517f;
}

body.blue-landing .feedback-button:hover {
    background: #34517f;
    color: var(--secondary-text-color) !important;
}

body.blue-landing .feedback-menu {
    background-color: #34517f;
}

body.blue-landing .feedback-menu button {
    background-color: #34517f;
}

body.yellow-landing .feedback-button {
    color: #f0b919 !important;
    border: 1px solid #f0b919;
}

body.yellow-landing .feedback-button:hover {
    background: #f0b919;
    color: var(--secondary-text-color) !important;
}

body.yellow-landing .feedback-menu {
    background-color: #f0b919;
}

body.yellow-landing .feedback-menu button {
    background-color: #f0b919;
}

main.landing {
    --root-padding: 160px;
}

main.landing .background-decoration {
    width: 100%;
    height: 100%;
}

main.landing .layer-context {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main.landing .layer-context > * {
    pointer-events: initial;
}

main.landing > section {
    /*padding-top: calc(var(--header-height) + var(--root-vertical-padding));*/
    padding-top: calc(var(--header-height) + 120px);
    height: 100vh;
    scroll-snap-align: center;
}

main.landing > section.intro {
    padding-top: calc(var(--header-height) + 120px);
    padding-bottom: 120px;
    padding-right: unset;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    /*align-items: center;*/
}

main.landing > section.intro .description {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    /*justify-content: flex-start;*/
}

main.landing > section h1.section-title {
    font-size: 50px;
}

main.landing .capture-form {
    font-size: 25px;
    line-height: initial;
    color: var(--secondary-text-color);
    max-width: 100%;
    min-width: 100%;
}

main.landing .capture-form form {
    /*display: flex;*/
    /*flex-direction: row;*/
}

main.landing .capture-form form div {
    flex-direction: row;
}

main.landing .capture-form form > div > div {
    justify-content: space-between;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 2px 15px 0 rgba(108, 108, 108, 0.5);
    background-color: white;
    padding-left: 25px;
}

main.landing .capture-form input {
    border: none;
    height: 50px;
    width: 100%;
    border-radius: initial;
    margin-bottom: unset;
    padding: unset;
    box-shadow: unset;
    background-color: unset;
    font-weight: bold;
}

main.landing .capture-form button {
    position: relative;
    font-size: 16px;
    height: 50px;
    min-width: 200px;
    font-weight: bold;
    border-radius: 25px;
    border: unset;
    background-color: #34517f;
    color: var(--secondary-text-color);
    cursor: pointer;
}

main.landing .capture-form button[type="submit"] {
    margin-left: 30px;
}

main.landing .capture-form .form-result-message {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: initial;
    border-radius: initial;
    box-shadow: initial;
    background-color: initial;
    padding: initial;
}

main.landing .capture-form .form-result-buttons > * {
    width: initial;
}

main.landing .preview-section {
    /*position: absolute;*/
    margin: unset;
    padding: unset;
    height: 100%;
    min-width: 40vw;
    right: 0;
    /*overflow: hidden;*/
}

main.landing .preview-section.frame-iMac {
    background: url("../img/imac.png") no-repeat top right -10vw/50vw 100%;
}

main.landing .preview-section.frame-iPad {
    background: url("../img/ipad.svg") no-repeat top center/100% 100%;
}

main.landing .preview-section.frame-iPhone {
    background: url("../img/iphone.svg") no-repeat top center/100% 100%;
}

main.landing .how-work {
    margin-top: unset;
    overflow: unset;
    color: var(--secondary-text-color);
}

main.landing .how-work .section-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.22;
    width: 50%;
}

main.landing .youtube-link {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    text-align: center;
    min-width: 200px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
}

main.landing .how-work-video-wrapper {
    /*position: absolute;*/
    /*width: calc(100vw - (var(--root-padding) * 2));*/
    width: 55vw;
    /*height: var(--video-height);*/
    /*left: -10vw;*/
    left: unset;
    bottom: unset;
    right: 0;
    top: calc(var(--header-height) + var(--root-vertical-padding));
    height: calc(100vh - (var(--header-height) + var(--root-vertical-padding)) - var(--root-vertical-padding));
    border-radius: 15px;
    transform: translateX(10vw);
    transition: all .5s;
    /*overflow: hidden;*/
}

main.landing .how-work-video-wrapper video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main.landing .how-work-video-wrapper:hover {
    transform: translateX(5vw);
}

main.landing .how-work-video-wrapper:focus, main.landing .how-work-video-wrapper:active {
    transform: none;
    width: 90vw;
    right: 5vw;
}

main.landing:not(.extended-landing) .customer-journey {
    display: none;
}

main.landing .customer-journey {
    padding-top: calc(var(--header-height) + var(--root-vertical-padding));
    color: white;
}

main.landing .customer-journey .section-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.22;
    margin-bottom: unset;
}

main.landing .customer-journey .demo-section {
    padding: unset;
    margin: unset;
    height: 90%;
    width: 100%;
    background: url("../img/demo.png") no-repeat center/contain;
}

main.landing .what-tasks-solves {

}

main.landing .what-tasks-solves .section-title {
    font-size: 60px;
    font-weight: bold;
    width: 70%;
}

main.landing .count-items-slider {
    width: 100%;
    overflow-x: scroll;
    padding: unset;
    margin: unset;
    margin-top: 100px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

main.landing .count-items-slider .item {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 300px;
    /*min-height: 320px;*/
    /*color: var(--primary-text-color);*/
    /*margin-right: var(--root-padding);*/
    padding-top: 40px;
    padding-left: 30px;
    margin-right: 100px;
    scroll-snap-align: center;
}

main.landing .count-items-slider .item .caption {
    line-height: initial;
    margin: unset;
}

main.landing .count-items-slider:after {
    min-width: 1px;
}

main.landing .what-you-get {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main.landing .what-you-get .description {
    width: 25vw;
    margin-right: 5vw;

}

main.landing .what-you-get .section-title {
    font-size: 60px;
    font-weight: bold;

}

main.landing .what-you-get .card-items-slider {

}

main.landing .what-you-get .card-items-slider {
    border-left: 1px solid white;
    overflow-x: scroll;
    width: auto;
    margin: unset;
    padding: 20px;
    padding-left: 5vw;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    height: auto;
    min-height: auto;
}

main.landing .card-items-slider:after {
    content: '';
    display: block;
    min-height: 100%;
    min-width: 1px;
}

main.landing .what-you-get .card-items-slider > .item {
    min-width: 300px;
    min-height: 440px;
    border-radius: 15px;
    margin-right: 30px;
    padding: 30px;
    scroll-snap-align: center;
    justify-content: flex-start;
    font-size: 25px;
}

main.landing .card-items-slider .item .caption {
    line-height: initial;
    margin-top: 30px;
}

main.landing .card-items-slider > .item.laptop-decoration {
    background-repeat: no-repeat;
    background-position: right 30px bottom 30px;
    background-size: 40% 30%;
}

main.landing .card-items-slider > .item.phone-decoration {
    background-repeat: no-repeat;
    background-position: right bottom 30px;
    background-size: 40% 30%;
}

body.red-landing .card-items-slider > .item.laptop-decoration {
    background-image: url("../img/laptop-red.svg");
}

body.red-landing .card-items-slider > .item.phone-decoration {
    background-image: url("../img/phone-red.svg");
}

body.blue-landing .card-items-slider > .item.laptop-decoration {
    background-image: url("../img/laptop-blue.svg");
}

body.blue-landing .card-items-slider > .item.phone-decoration {
    background-image: url("../img/phone-blue.svg");
}

body.yellow-landing .card-items-slider > .item.laptop-decoration {
    background-image: url("../img/laptop-yellow.svg");
}

body.yellow-landing .card-items-slider > .item.phone-decoration {
    background-image: url("../img/phone-yellow.svg");
}

main.landing .feedback {
    min-height: auto;
    height: auto;
    padding-top: unset;
    color: var(--secondary-text-color);
}

main.landing .feedback .section-title {
    font-size: 60px;
    font-weight: bold;
}

main.landing .background-decoration:before {
    content: '';
    position: absolute;
    top: -15vh;
    left: -25vmax;
    width: 150vmax;
    height: 100vh;
    transform: rotate(10deg);
    border-radius: 15px;
    box-shadow: 0 2px 25px 0 #2a2626;
    z-index: -1;
}

main.landing .background-decoration > figure:nth-child(1) {
    position: absolute;
    display: block;
    top: 80vh;
    left: -15vmax;
    width: 65vmax;
    height: 250vh;
    transform: rotate(15deg);
    transform-origin: left top;
    border-radius: 15px;
    box-shadow: 0 2px 25px 0 #2a2626;
    z-index: -1;
}

main.landing .background-decoration > figure:nth-child(2) {
    position: absolute;
    display: block;
    top: 145vh;
    left: -0vmax;
    width: 145vmax;
    height: 250vh;
    transform: rotate(30deg);
    transform-origin: left top;
    border-radius: 15px;
    box-shadow: 0 2px 25px 0 #2a2626;
    z-index: -2;
}

main.landing.extended-landing .background-decoration:after {
    content: '';
    position: absolute;
    top: unset;
    bottom: -45vh;
    left: -50vmax;
    width: 200vmax;
    height: 100vh;
    transform: rotate(30deg);
    border-radius: 15px;
    box-shadow: 0 2px 25px 0 #2a2626;
    z-index: -1;
}
