main.landing {
    /*color: var(--primary-text-color);*/
    --video-height: 200px;
}

main.landing > section {
    position: relative;
    padding: var(--root-vertical-padding) var(--root-padding);
    /*min-height: 100vh;*/
    max-width: 100vw;
    overflow-x: hidden;
}

main.landing > section:first-child {
    padding-top: calc(var(--header-height) + var(--root-vertical-padding));
}

main.landing > section h1.title {
    font-size: 25px;
    font-weight: bold;
}

main.landing > section .section-title {
    font-size: 33px;
    font-weight: bold;
    line-height: 1.21;
}

main.landing .capture-form {
    font-size: 15px;
    line-height: 1.33;
    color: var(--secondary-text-color);
}

main.landing .capture-form form {
    display: flex;
    flex-direction: column;;
}

main.landing .capture-form input {
    -webkit-appearance: none;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

main.landing .capture-form button {
    -webkit-appearance: none;
    background: white;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #34517f;
}

main.landing .how-work {
    min-height: calc(var(--video-height) + 200px);
}

main.landing .how-work-video-wrapper {
    position: absolute;
    width: calc(100vw - (var(--root-padding) * 2));
    /*width: 70vw;*/
    height: var(--video-height);
    /*left: -10vw;*/
    border-radius: 10px;
    transform: translateX(35vw);
    transition: all .5s;
    overflow: hidden;
}

main.landing .how-work-video-wrapper video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main.landing .how-work-video-wrapper:focus, main.landing .how-work-video-wrapper:hover, main.landing .how-work-video-wrapper:active {
    /*width: calc(100vw - (var(--root-padding) * 2));*/
    /*left: var(--root-padding);*/
    transform: none;
}

main.landing .count-items-slider {
    counter-reset: section;
    margin-left: calc(var(--root-padding) * -1);
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    padding: 0 var(--root-padding);
    padding-bottom: 30px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

main.landing .count-items-slider .item {
    counter-increment: section;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    /*min-height: 320px;*/
    color: var(--primary-text-color);
    margin-right: var(--root-padding);
    padding: calc(var(--root-padding) * 2) calc(var(--root-padding) * 1);
    scroll-snap-align: start;
}

main.landing .count-items-slider .item:last-child {
    margin-right: unset;
}

main.landing .count-items-slider .item:before {
    content: counter(section);
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 132px;
    line-height: 132px;
    font-weight: bold;
    /*margin-right: 10px;*/
    color: rgba(102, 31, 31, 0.5);
    z-index: 0;
}

main.landing .card-items-slider {
    counter-reset: section;
    margin-left: calc(var(--root-padding) * -1);
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    padding: 0 var(--root-padding);
    padding-bottom: 30px;
    padding-top: 20px;
    margin-bottom: 20vh;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

main.landing .card-items-slider > .item {
    counter-increment: section;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    /*min-height: 320px;*/
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);

    color: var(--primary-text-color);
    margin-right: var(--root-padding);
    padding: calc(var(--root-padding) * 2) calc(var(--root-padding) * 1);
    scroll-snap-align: start;
}

main.landing .card-items-slider > .item:last-child {
    margin-right: unset;
}

main.landing .card-items-slider:after {
    content: '';
    display: block;
    min-height: 100%;
    min-width: var(--root-padding);
}

main.landing .card-items-slider .item .title {
    font-size: 25px;
    font-weight: bold;
    margin: unset;
    z-index: 1;
}

main.landing .card-items-slider .item .caption {
    font-size: 25px;
    line-height: 1.16;
    margin: unset;
    margin-top: var(--root-padding);
    z-index: 1;
}


body.red-landing {
}
