:root {
    --root-padding: 20px;
    --root-vertical-padding: var(--root-padding);
    --header-height: 50px;
    --primary-text-color: #121414;
    --secondary-text-color: white;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Gilroy, sans-serif;
    color: var(--primary-text-color);
    /*scroll-behavior: smooth;*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

.background-decoration {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-color: white;*/
}

.background-decoration * {
    display: none;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--root-padding);
    background: white;
    box-shadow: 0 2px 15px 0 rgba(124, 124, 124, 0.5);
    font-size: 25px;
    font-weight: 500;
}

@supports (-webkit-backdrop-filter: blur(15px)) {
    header {
        -webkit-backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255, 0.8);
    }
}

header a:active {
    opacity: .5;
}

header div {
    display: flex;
    align-items: center;
    height: 100%;
}

header .logo {
    display: block;
    text-decoration: unset;
    background: url("../img/logo.png") no-repeat center left/contain;
    height: calc(var(--header-height) - (var(--root-padding) / 2));
    width: 150px;
    margin: 0;
    padding: 0;
}

header .call {
    display: inline-block;
    height: 100%;
    width: 50px;
    /*margin-right: 10px;*/
    background: url("../img/call.svg") no-repeat center/25px;
}

header .open-menu, header .close-menu {
    display: inline-block;
    height: 100%;
    width: 50px;
    font-size: 30px;
    line-height: 50px;
    /*margin-left: 10px;*/
    margin-right: -10px;
    text-align: center;
}

header > .background-decoration {
    position: fixed;
}

header > .background-decoration:before, header > .background-decoration:after {
    content: '';
    position: absolute;
    top: -30vh;
    left: -25vmax;
    width: 150vmax;
    height: 100vh;
    transform: rotate(-15deg);
    box-shadow: 0 8px 15px 0 rgba(61, 61, 61, 0.5);
    background-color: #34517f;
}

header > .background-decoration:after {
    top: -65vh;
    transform: rotate(15deg);
}

.feedback-menu form, .feedback-menu .form-result-section {
    display: flex;
}

.form-result-message {
    font-size: 16px;
    font-weight: bold;
}

.form-result-message:first-letter {
    text-transform: uppercase;
}

.form-result-buttons {
    margin-top: 30px;
    display: flex;
}

header nav,
header:not(:target) .close-menu,
header:target .open-menu,
header:not(:target) > .background-decoration,
.feedback-menu,
.close-feedback,
.language-menu,
.close-language,
.slide-position {
    display: none;
}

*:not(.form-result) > .form-result-section, .form-result > form {
    display: none !important;
}

header:target, .feedback-menu:target ~ header, .language-menu:target ~ header {
    background: none;
    -webkit-backdrop-filter: unset;
    box-shadow: none;
}

header:target *, .feedback-menu:target ~ header * {
    color: white;
}

header:target:after, .feedback-menu:target ~ header:after, .language-menu:target ~ header:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    width: calc(100% - (var(--root-padding) * 2));
    left: var(--root-padding);
    height: 1px;
    background-color: white;
}

.language-menu:target ~ header:after {
    background-color: black;
}

header:target .logo, .feedback-menu:target ~ header .logo {
    background-image: url("../img/logo.gray.png");
}

header:target .call, .feedback-menu:target ~ header .call {
    background-image: url("../img/call-inverted.svg");
}

header:target nav {
    display: flex;
    position: absolute;
    top: calc(var(--header-height) + 15px);
    left: 0;
    width: 100%;
    flex-direction: column;
    padding: 30px;
}

header:target nav > * {
    margin-bottom: 25px;
}

main {

}

main > .section-wrapper section {
    position: relative;
    padding: var(--root-vertical-padding) var(--root-padding);
    max-width: 100vw;
    overflow-x: hidden;
    /*background-color: white;*/
}

main > .section-wrapper section {
    padding-top: calc(var(--header-height) + var(--root-vertical-padding));
}

@media (max-width: 1024px) {
    .hide-in-mobile {
        display: none !important;
    }

    .header-space {
        padding-top: calc(var(--header-height) + var(--root-vertical-padding));
    }
}
