html, body {
    overflow: hidden;
}

:root {
    --root-padding: 45px;
    --root-vertical-padding: var(--root-padding);
    --header-height: 80px;
}

.background-decoration {
    width: 100vw;
    height: 100vh;
}

header {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
}

header > div {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    margin-left: 50px;
}

header nav > a {
    padding: 0 20px;
    font-size: 20px;
    line-height: var(--header-height);
    font-weight: 500;
}

.feedback-button {
    display: inline-block;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    color: #34517f !important;
    border: 1px solid #34517f;
    width: 200px;
}

.feedback-button:hover {
    background: #34517f;
    color: var(--secondary-text-color) !important;
}

.language-button {
    font-size: 20px;
    font-weight: 500;
    color: rgba(18, 20, 20, 0.6);
    margin: 20px;
    margin-right: unset;
}

main {
    scroll-behavior: smooth;
}

main.horizontal-scroll {
    position: fixed;
    width: 100vh;
    height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) scaleX(-1);
    transform-origin: left top;
    scroll-snap-type: y mandatory;
}

main.horizontal-scroll > .section-wrapper {
    transform: rotate(90deg) scaleY(-1);
    transform-origin: left top;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

main > .section-wrapper section {
    height: 100vh;
    width: 100vw;
}

main > .section-wrapper.pp-section:not(.active) {
    opacity: 0;
}

main > .section-wrapper section .background-decoration {
    display: none !important;
}

main .pp-tableCell {
    -webkit-transform: translate3D(0, 0, 0);
}

.feedback-menu, .language-menu {
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: #34517f;
    padding: var(--root-vertical-padding) var(--root-padding);
    padding-top: calc(var(--header-height) + var(--root-vertical-padding));
    color: white;
    z-index: 1000;
}

.language-menu {
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.language-menu > a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-text-color);
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    margin: 15px;
    border-radius: 25px;
    border: 1px solid #121414;
}

.feedback-menu > .title {
    margin-top: 0;
    font-size: 35px;
    font-weight: bold;
}

.feedback-menu .input-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    max-width: 660px;
    border-radius: 25px;
    box-shadow: 0 2px 15px 0 rgba(108, 108, 108, 0.5);
    background-color: white;
    padding-left: 25px;
}

.feedback-menu .input-line input {
    -webkit-appearance: none;
    border: none;
    height: 50px;
    width: 100%;
    margin: unset;
    padding: unset;
    background-color: unset;
    font-size: 16px;
    font-weight: bold;
}

.feedback-menu button, .feedback-menu .button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #34517f;
    border: 1px solid white;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
    margin-left: 30px;
    cursor: pointer;
    padding: unset;
}

.feedback-menu button:disabled, .feedback-menu .button:disabled {
    position: relative;
    cursor: progress;
    opacity: .5;
    color: transparent;
}

.feedback-menu button:disabled:before, .feedback-menu .button:disabled:before {
    content: 'Загрузка...';
    display: block;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
}

.feedback-menu .invert-button {
    background-color: white;
    color: #34517f;
}

.feedback-menu .form-result-section {
    flex-direction: column;
}

.feedback-menu .form-result-buttons > *:first-child {
    margin-left: unset;
}

.close-feedback, .close-language {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    color: transparent;
    cursor: default;
}

@supports (-webkit-backdrop-filter: blur(15px)) {

    .close-feedback, .close-language {
        background: rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(15px)
    }

}

.feedback-menu:target, .language-menu:target {
    display: flex;
}

.feedback-menu:target ~ .close-feedback, .language-menu:target ~ .close-language {
    display: initial;
}

.feedback-menu:target ~ header, .language-menu:target ~ header {
    z-index: 10000;
}

.feedback-menu:target ~ header .feedback-button {
    color: white !important;
    border: 1px solid white;
    opacity: .5;
}

.hide-in-desktop {
    display: none !important;
}

@media (max-height: 800px) {

    main > .section-wrapper > section {
        /*padding: var(--root-padding);*/
        /*padding-top: calc(var(--header-height) + var(--root-padding));*/
    }

    body.main-landing main .section-wrapper > section > .title {
        font-size: 55px !important;
    }
}

@media (max-height: 650px) {
    :root {
        --root-vertical-padding: 20px;
    }
}
